<div class="quicklook_day">
	<div class="quicklook_day_header">{{block2.header}}</div>
	<div class="quicklook_day_more">[ <span class="toggle1 quicklook_day_moretoggle">More</span> ]</div>
	<div class="clear"></div>

	<img class="quicklook_day_icon" src="/media/weather/images/{{block2.icon}}.png" alt="{{block2.type}}" title="{{block2.type}}" height="72" width="72">
	<div class="quicklook_day_tempdata">
	{% ifequal block2.header "Tonight" %} Low: {{block2.temp}} {% else %} High: {{block2.temp}} {% endifequal %}
	</div>
	<div class="quicklook_day_wxdata">Sunrise: {{block2.sunrise}}<br />Sunset: {{block2.sunset}}</div>
</div>
<div class="quicklook_day">
	<div class="quicklook_day_header">{{block1.header}}</div>
	<div class="quicklook_day_more">[ <span class="toggle0 quicklook_day_moretoggle">More</span> ]</div>
	<div class="clear"></div>

	<img class="quicklook_day_icon" src="/media/weather/images/{{block1.icon}}.png" alt="{{block1.type}}" title="{{block1.type}}" height="72" width="72">
	<div class="quicklook_day_tempdata">
		{% ifequal block1.header "Tonight" %} Low: {{block1.temp}} {% else %} High: {{block1.temp}} {% endifequal %}
	</div>
	<div class="quicklook_day_wxdata">Sunrise: {{block1.sunrise}}<br />Sunset: {{block1.sunset}}</div>
</div>